<!DOCTYPE html>
<html>
  <head>
    <title>Guest Information</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      h1 {
        text-align: center;
        font-size: 36px;
        margin: 50px 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
      }

      li {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
      }

      strong {
        font-weight: bold;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body> 
    <nav>
        <a href="/">Welcome</a>
        <a href="/menu">Menu</a>
        <a href="/rsvpForm">Registry</a>
        <a href="/gallery">Gallery</a>
        <a href="/guestinfo">Guest info</a>
    </nav>
    <h1>Guest Information</h1>
    <ul>
      <li>
        <strong>Location:</strong> Ayana Resort Bali<br>
        Click <a href="https://www.google.com/maps/dir//Ayana+Resort+and+Spa+Bali/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x2dd23da3b6e1b93d:0xe7c98d3b3e3b0c21?sa=X&ved=2ahUKEwiW_NyOjNHzAhUBHxoKHaOuD-8Q9Rd6BAhjEAQ">here</a> for directions
      </li>
      <li>
        <strong>Where to Stay:</strong> Check out the latest hotel deals on <a href="https://www.tripadvisor.com.au/SmartDeals-g294226-zft9672-Bali-Hotel-Deals.html">TripAdvisor</a>
      </li>
      <li>
        <strong>Travel Advisories:</strong> For travel advisories and information on visa requirements, please visit the <a href="https://bali.indonesia.embassy.gov.au/">Australian Embassy in Bali</a> website.
      </li>
      <li>
        <strong>Event Time:</strong> Beach format wedding function from 9am to 3pm.
      </li>
    </ul>
  </body>
</html>
