<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A & K wedding</title>
    <style>
        body {
          background-image: url('https://media.istockphoto.com/id/1278738008/vector/beach-wedding-flat-color-vector-illustration.jpg?s=612x612&w=0&k=20&c=iJi8DGcW0Uosk4mp5qNWvetP2RaGVbn1fU2y9aba2Lw=');
          background-repeat: no-repeat;
          background-size: cover;
        }
  
        nav {
          background-color: #333;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 50px;
        }
  
        nav a {
          color: #fff;
          text-decoration: none;
          padding: 10px;
        }
  
        #map {
          height: 400px;
          width: 100%;
          background-image: url('https://www.balispirit.com/assets/images/Best-of-Bali-Highlights-Map.jpg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
  
        footer {
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 20px;
        }
  
        footer span {
          font-size: 18px;
        }
      </style>
</head>
<body>
    <nav>
        <a href="/">Welcome</a>
        <a href="/menu">Menu</a>
        <a href="/rsvpForm">Registry</a>
        <a href="/gallery">Gallery</a>
        <a href="/guestinfo">Guest info</a>
        <a href="/login">Login</a>
      </nav>
      <div id="map"></div>
      
      <footer>
        <span>&copy; A & K wedding | All Rights Reserved | $$$&trade;</span>
      </footer>
</body>
</html>

