<!DOCTYPE html>
<html>
<head>
	<title>RSVP Form</title>
    <style>
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://media.istockphoto.com/id/1278738008/vector/beach-wedding-flat-color-vector-illustration.jpg?s=612x612&w=0&k=20&c=iJi8DGcW0Uosk4mp5qNWvetP2RaGVbn1fU2y9aba2Lw=');
          background-repeat: no-repeat;
          background-size: cover;
}

/* Style the navigation bar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Style the page header */
h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}

/* Style the form labels */
label {
  display: block;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Style the form inputs */
input,
select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

input[type="submit"]:hover {
  background-color: #222;
}

/* Set specific styles for the form elements */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label:first-of-type {
  margin-top: 0;
}

form label:last-of-type {
  margin-bottom: 2rem;
}
    </style>
</head>
<body>
    <nav>
        <a href="/">Welcome</a>
        <a href="/menu">Menu</a>
        <a href="/rsvpForm">Registry</a>
        <a href="/gallery">Gallery</a>
        <a href="/guestinfo">Guest info</a>
    </nav>
	<h1>RSVP Form</h1>
	<form method="POST" action="/rsvp">
		<label for="name">Name:</label>
		<input type="text" name="name" required><br><br>
		<label for="email">Email:</label>
		<input type="email" name="email" required><br><br>
		<label for="attending">Are you attending?</label>
		<input type="radio" name="attending" value="true" required> Yes
		<input type="radio" name="attending" value="false" required> No<br><br>
		<label for="guests">Number of guests:</label>
		<input type="number" name="guests" min="1" max="10" required><br><br>
		<label for="main_dish_choice">Main dish choice:</label>
		<select name="main_dish_choice">
			<option value="chicken">Chicken</option>
			<option value="fish">Fish</option>
			<option value="vegetarian">Vegetarian</option>
		</select><br><br>
		<label for="table_number">Table number:</label>
		<input type="number" name="table_number" min="1" max="20" required><br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
